<html>
  <head>
    <title>This is the homepage</title>
  </head>

  <body>
    <a href="blog">Blog page</a>
    <a href="about">About page</a>
    <p>This is a blog</p>
    <p>A random number between 0 and 100 = <%= data %></p>
  </body>
</html>
